<!-- File: templates/needs-display.hbs -->
<div class="survival-needs-display {{moduleId}}">
    {{#if trackers.length}}
        {{#each trackers as |trackerConfig|}} {{!-- Changed 'tracker' to 'trackerConfig' for clarity --}}
            <div class="need-item {{trackerConfig.id}}">
                <label title="{{trackerConfig.name}}">
                    <i class="tracker-icon {{trackerConfig.iconClass}}" style="color:{{trackerConfig.iconColor}};"></i> 
                     {{trackerConfig.name}} {{!-- Removed one   for slightly less space --}}
                </label>
                <div class="need-controls">
                    <input class="tracker-value-input" 
                           type="number" 
                           name="{{trackerConfig.flagPath}}" 
                           value="{{trackerConfig.currentValue}}" 
                           min="0" 
                           max="{{trackerConfig.maxValue}}" 
                           data-tracker-id="{{trackerConfig.id}}" />
                    <span class="need-max-value">/ {{trackerConfig.maxValue}}</span>
                    
                    {{#if trackerConfig.regeneration.byItem}}
                        <button type="button" 
                                class="consume-button icon-only-button" {{!-- Added icon-only-button for consistent styling --}}
                                data-tracker-id="{{trackerConfig.id}}" 
                                title="{{trackerConfig.regeneration.itemButtonLabel}}">
                            <i class="{{trackerConfig.regeneration.itemButtonIcon}}"></i>
                        </button>
                    {{/if}}

                    {{#if trackerConfig.specialActions}}
                        {{#each trackerConfig.specialActions as |action|}}
                            <button type="button" 
                                    class="special-action-button icon-only-button" 
                                    data-tracker-id="{{trackerConfig.id}}" {{!-- Correct: Access parent context's id --}}
                                    data-action-id="{{action.actionId}}"
                                    title="{{action.label}}"> 
                                <i class="{{action.icon}}"></i>
                            </button>
                        {{/each}}
                    {{/if}}
                </div>
            </div>
        {{/each}}
    {{else}}
        {{!-- This 'else' corresponds to 'if trackers.length'. 
             The 'unless trackers' further down was redundant. --}}
        <p class="no-trackers-message">{{localize (concat moduleId ".sheet.noTrackersEnabled")}}</p>
    {{/if}}
</div>