<div class="survival-needs-pf2e chat-card need-change-info">
    <div style="display: flex; align-items: center; margin-bottom: 5px;">
        <i class="{{trackerIcon}}" style="font-size: 1.5em; margin-right: 8px; color: {{trackerIconColor}}"></i>
        <h4 style="margin: 0;">{{trackerName}} Update</h4>
    </div>
    <p>
        {{actorName}} used <img src="{{usedItemImg}}" title="{{usedItemName}}" width="20" height="20" style="vertical-align: middle; border: none;"/> <strong>{{usedItemName}}</strong>.
    </p>
    <p>
        Their {{trackerName}} was reduced by <strong>{{reductionAmount}}</strong>.
    </p>
</div>