<!-- templates/chat-consume.hbs -->
<div class="pf2e chat-card item-card consume-action-card" data-actor-id="{{actorId}}" data-item-id="{{itemId}}">
    <header class="card-header flexrow">
        <img src="{{itemImg}}" title="{{itemName}}" width="36" height="36"/>
        <h3>{{actorName}} uses {{buttonLabel}}</h3>
    </header>
    <div class="card-content">
        <p>
            {{actorName}} consumes @UUID[{{itemUuid}}]{{{itemName}}}
            {{#if reductionAmount}}
                to affect {{trackerName}}.
            {{else}}
                .
            {{/if}}
        </p>
        {{#if reductionAmount}}
        <p>
            <em>
                {{trackerName}}
                {{#if (gt reductionAmount 0)}}
                    reduced by {{reductionAmount}}.
                {{else if (lt reductionAmount 0)}}
                    increased by {{abs reductionAmount}}.
                {{else}}
                    not changed by this item.
                {{/if}}
                {{!-- You might want to pass the new actual value if you want to display it here:
                New {{trackerName}} value: {{newNeedValue}}. 
                This would require passing newNeedValue to this template.
                For now, just stating the reduction/increase. --}}
            </em>
        </p>
        {{/if}}
    </div>
</div>